<% provide(:title, "About") %>

<h1>About</h1>

<p>Assalamu Alaykum! This is the IST Portal page, a site for leadership of
  the Islamic Society of Tulsa to store files and documents for reference.</p>

<p>To log in and access your files, please click 
  <%= link_to "here", login_path %>.</p>


