<h1>IST Portal</h1>

<p>Assalamu alaykum <%= @user.name %>,</p>

<p>
Welcome to the IST Portal! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>