<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">

    <% # calling 'render' looks for a _user partial in app/views/users %>
    
    <% @users.each do |user| %>
        <%= render user %>
    <% end %>

</ul>

<%= will_paginate %>