<% provide(:title, "#{@user.name}'s Files") %>

<%# Add some code so that if the user has no files, instead of showing an
    
    (done!)empty table, show a message like "You don't currently have any files!"
    
    also, a notice: "cloud storage is (by Allah's will) very safe, but please 
    ensure that your files are backed up somewhere else in case of a disaster!
    
    (done!) finally, add a big "Upload a new file" button somewhere
    
    %>

<h1>Your Files</h1>

<h3>So far, you have <%= pluralize(@user.docs.count, "file")%> in the IST Portal.</h3>
<h3>You are currently using <%= number_to_human_size(@user_total_size) %></h3>

<%= render 'assets' %>

<div class="text-center">
  <%= link_to "Upload a file", new_doc_path, class: "btn btn-lg btn-primary button-center" %>  
</div>
