<% provide(:title, "#{@user.name}'s Files") %>

<%# Add some code so that if the user has no files, instead of showing an
    
    (done!)empty table, show a message like "You don't currently have any files!"
    
    also, a notice: "cloud storage is (by Allah's will) very safe, but please 
    ensure that your files are backed up somewhere else in case of a disaster!
    
    (done!) finally, add a big "Upload a new file" button somewhere
    
    %>

<h1>Your Files</h1>

<% if @user.docs.any? %>
  <%= render 'assets' %>
<% else %>
  <p>You don't currently have any files in the IST Portal. Add one below!</p>
<% end %>

<div class="text-center">
  <%= link_to "Upload a file", new_doc_path, class: "btn btn-lg btn-primary button-center" %>  
</div>
